# Top-most EditorConfig file
root = true

# Unix-style newlines
[*.{html,css,js,json,ts}]
end_of_line = lf
insert_final_newline = false

# Set default charset to utf-8
charset = utf-8

# 2 spaces indentation for HTML, CSS, JavaScript, JSON
[*.{html,css,js,json}]
indent_style = space
indent_size = 2

# Single quotes for HTML, CSS, JavaScript, JSON
[*.{html,css,js,json,ts}]
quote_type = single

# Use tabs for indentation
[*]
indent_style = tab
indent_size = tab
